@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: hsl(218, 22%, 67%);
}

.container {
  width: 375px;
}

.card-3 {
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
  .card-3 {
    border-bottom-left-radius: 0px;
  }
}
